@font-face {
    font-family: 'Google Sans';
    src: local('Google Sans Medium'), local('Google-Sans-Medium'),
        url('GoogleSans-Medium.woff2') format('woff2'),
        url('GoogleSans-Medium.woff') format('woff'),
        url('GoogleSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }