
.hero_wrapper {
    display: flex;
    margin-top: 18px;
}
.hero_column-left {
    flex: 1 1 50%;
}
.hero_content {
    padding-top: 112px;
    padding-left: 15px;
}
.hero_text {
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
    margin-bottom: 24px;
}
.hero_offer {
    font-family: Volkhov,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181E4B;
    max-width: 545px;
    margin-bottom: 30px;
}
.hero_description {
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
    max-width: 477px;
    margin-bottom: 34px;
}
.hero_btns {
    display: flex;
    height: 60px;
}
.hero_more {
    width: 170px;
    height: 60px;
    margin-right: 44px;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: "Google Sans",sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
.hero_player {
    display: flex;
    align-items: center;
}
.hero_play {
    display: block;
}
.hero_play img{
    display: inline-block;
    margin-top: 28px;
}
.hero_play span{
    display: inline-block;
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #686D77;
    margin-top: 60px;
}
.hero_column-right {
    flex: 1 1 50%;
}
.hero_column-body {
    position: relative;
}
.hero_column-body::before{
    position: absolute;
    content:"";
    width: 138px;
    height: 125px;
    top: 56px;
    left: 133px;
    background-image: url(../images/icons/pline-1.svg);
    background-repeat: no-repeat;
}
.hero_column-body::after{
    position: absolute;
    content:"";
    width: 138px;
    height: 125px;
    top: 103px;
    right:-18px;
    background-image: url(../images/icons/pline-2.svg);
    background-repeat: no-repeat;
    z-index: -1;
}