.subscribe {
    margin-top: 124px;
}
.subscribe_container {
    max-width: 1356px;
    margin: 0 auto;
    padding-left: 87px;
    padding-right: 90px;
    padding-bottom: 70px;
    position: relative;
}
.subscribe_telegram {
    position: absolute;
    width: 70px;
    height: 70px;
    top: -20px;
    right: -20px;
}
.subscribe_bg {
    background-image: url(/images/partners/Group-78.png);
    background-size: cover;
    height: 407px;
    padding-top: 79px;
    padding-bottom: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
/* .subscribe_bg::before{
    position: absolute;
    content: "";
    width: 70px;
    height: 70px;
    background-image: url(/images/icons/icon-telegram.svg);
    top:-20px;
    right: -20px;
} */
.subscribe_offer{
    font-family: Poppins,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    text-align: center;
    color: #5E6282;
    max-width: 859px;
    margin-bottom: 74px;
}
.subscribe_form {
    display: flex;
    width: 625px;
    height: 68px;
    justify-content: space-between;
    flex-wrap: wrap
}
.subscribe_mail {
    flex: 1 1 auto;
    max-width: 421px;
    height: 68px;
    margin-right: 24px;
    background-color: #FFFFFF;
    background-image: url(/images/icons/input-arrow.svg);
    background-repeat: no-repeat;
    background-position: 31px 25px;
    padding-left: 66px;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #39425D;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.subscribe_subscribe {
    width: 186px;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    
}